# String Introduction

In [4]:
"myskill" or 'myskill'

'myskill'

In [5]:
print("myskill providing course"[0])

m

# akses karakter di string

In [6]:
# Creting a String 
# With single Quotes
string1 = 'Welcome to Myskill'
print("String with the use of single Quotes : ")
print(string1)

# Creating a string 
# with double Quotes
string1 = "i'm john"
print("\nstring with the use of double Quotes : ")
print(string1)

# creating a string 
# With triple Quotes
string1 = '''i'm myskill student and i develop "skill"'''
print("\nstring with the use of double Quotes : ")
print(string1)

# creating string with triple 
# Quotes allows multiple lines
string1 = '''
            myskill
            for
            life
            '''
print("\nstring with the use of double Quotes : ")
print(string1)

String with the use of single Quotes :
Welcome to Myskill

string with the use of double Quotes :
i'm john

string with the use of double Quotes :
i'm myskill student and i develop "skill"

string with the use of double Quotes :

            myskill
            for
            life

In [7]:
string1 = "myskill"
print("initial string : ")
print(string1)

# printing first character
print("\nfirst character of string is :")
print(string1[0])

#printing last character
print("\nfirst character of string is :")
print(string1[-1])

initial string :
myskill

first character of string is :
m

first character of string is :
l

# delete dan update di string

### reverse string

In [8]:
msk = "myskill"
print(msk[::-1])

lliksym

In [9]:
msk = "myskill"
msk = "".join(reversed(msk))

In [10]:
print(msk)

lliksym

### string slicing

In [11]:
# creating a string
string1 = "myskill"
print("intial string :")
print(string1)

# printing 3rd to 12th character
print("\nslicing character from 3-12: ")
print(string1[3:7])

#printing character between
#3rd and 2nd last charcter
print("\nslicing character between " +
      "3rd and 2nd last character : ")
print(string1[3:-1])

intial string :
myskill

slicing character from 3-12:
kill

slicing character between 3rd and 2nd last character :
kil

### Update Character

In [2]:
#python program to update
#character of string

string1 = "Hello, i'am myskill student"
print("initial String: ")
print(string1)

list1 = list(string1)
list1[2] = 'p'
string2 = ''.join(list1)
print("\nUpdate character at 2nd index: ")
print(string2)

string3 = string1[0:2] + 'k' + string1[3:]
print(string3)

initial String:
Hello, i'am myskill student

Update character at 2nd index:
Heplo, i'am myskill student
Heklo, i'am myskill student

### update entire string

In [3]:
string1 = "Hello, i'am faras"
print("initial String: ")
print(string1)

string1 = "welcome to myskill"
print("\nUpdate String: ")
print(string1)

initial String:
Hello, i'am faras

Update String:
welcome to myskill

### Delete character

In [4]:
string1 = "Hello, welcome to myskill"
print("initial String: ")
print(string1)

string2 = string1[0:2] + string1[3:]
print("\nDeleteing character at 2nd index: ")
print(string2)

initial String:
Hello, welcome to myskill

Deleteing character at 2nd index:
Helo, welcome to myskill

### Delete entire string

In [5]:
string1 = "Hello, welcome to myskill"
print("initial String: ")
print(string1)

del string1
print("\nDeleteing entire string: ")
print(string1)

initial String:
Hello, welcome to myskill

Deleteing entire string:

NameError: name 'string1' is not defined

# Escape Sequence in python

In [6]:
string1 = '''i'm "smart"'''
print("initial string with use of triple quotes: ")
print(string1)

string1 = 'i\'m "smart"'
print("\nescaping single quotes: ")
print(string1)

string1 = "i'm \"smart\""
print("\nescaping double quotes: ")
print(string1)

string1 = "C:\\python\\myskill\\"
print("\nescaping backslash: ")
print(string1)

string1 = "hi\tsmartguy"
print("\nTab: ")
print(string1)

string1 = "i'm \"smart\""
print("\nescaping double quotes: ")
print(string1)

string1 = "pyton\nmyskill"
print("\nnew line: ")
print(string1)

initial string with use of triple quotes:
i'm "smart"

escaping single quotes:
i'm "smart"

escaping double quotes:
i'm "smart"

escaping backslash:
C:\python\myskill\

Tab:
hi	smartguy

escaping double quotes:
i'm "smart"

new line:
pyton
myskill

# formating string

In [8]:
string1 = "{} {} {}".format('myskill', 'for', 'learning')
print("print string in deafult order: ")
print(string1)

string1 = "{1} {0} {2}".format('myskill', 'for', 'learning')
print("\nprint string in positional order: ")
print(string1)

string1 = "{l} {f} {g}".format(g = 'myskill', f = 'for', l = 'learning')
print("\nprint string in positional order: ")
print(string1)

print string in deafult order:
myskill for learning

print string in positional order:
for myskill learning

print string in positional order:
learning for myskill

In [9]:
string1 = "{0:b}".format(16)
print("binary represintasi dari 16 adalah: ")
print(string1)

string1 = "{0:e}".format(16.6458)
print("\nrepresentasi eksponen dari 165.6458: ")
print(string1)

string1 = "{0:.2f}".format(1/6)
print("\nnone sixth is: ")
print(string1)

binary represintasi dari 16 adalah:
10000

representasi eksponen dari 165.6458:
1.664580e+01

none sixth is:
0.17

In [10]:
string1 = "|{:<10}| |{:^10}| |{:>10}|".format('myskill', 'for', 'learning')
print('\nleft, center and right aligment with formating : ')
print(string1)

string1 = "\n{0:^16} was founded in {1:<4} !".format("myskillforlearning",
                                                   2021)
print(string1)

left, center and right aligment with formating :
|myskill   | |   for    | |  learning|

myskillforlearning was founded in 2021 !

In [11]:
integer1 = 12.3456789
print("formating in 3.2f format : ")
print("the value of integer is %3.2f : " % integer1)
print("formating in 3.4f format : ")
print("the value of integer is %3.4f : " % integer1)

formating in 3.2f format :
the value of integer is 12.35 :
formating in 3.4f format :
the value of integer is 12.3457 :